:root {
    --primary-color: #14213d;
    --secondary-color: #fff;
    --accent1-color: #213e63;
    --accent2-color: #e6e8ff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    background-color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 150px 1fr;
    align-content: center;
}

header img {
    width: 100px;
    height: auto;
    grid-column: 1/2;
    justify-self: center;
}

header nav {
    grid-column: 2/3;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 0;
    background-color: var(--accent2-color);
    border: 1px solid black;
    border-radius: .5rem;
}

header nav a {
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: var(--primary-color);
    display: block;
}

h1,
h2 {
    font-family: var(--heading-font);
}

h2 {
    background-color: var(--accent2-color);
    width: 100%;
    padding: 10px;
    text-align: center;
    color: var(--primary-color);
    border-radius: .5rem;
}

form {
    box-shadow: 0 0 2px black;
    margin: 0 15px 0 15px;
    padding: 5px;
    height: 320px;
    border: .5rem;
    font-size: small;
    display: grid;
}

form fieldset {
    display: flex;
    gap: .5rem;
    margin: 5px;
    border: none;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    width: 300px;
    padding: 4px;
}

textarea {
    padding: 4px;
}

button {
    margin: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 4px;
    border-radius: .5rem;
    font-size: .8rem;
    font-weight: 700;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 10px;
    font-size: small;
    gap: 1rem;
}

footer {
    color: var(--secondary-color);
    text-align: center;
    border-top: 1px solid var(--secondary-color);
    display: grid;
    grid-template-columns: 100px 640px 100px;
    align-items: center;
}

footer p {
    grid-column: 2/3;
}

footer nav {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
}

table {
    border-collapse: collapse;
    border: 2px solid gray;
    font-size: .9rem;
    letter-spacing: 1px;
    width: 100%;
}

th,
td {
    border: 1px solid gray;
    padding: 8px 12px;
    text-align: center;
}

tbody td {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

tbody th {
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

thead th,
tfoot tr {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    font-weight: 700;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 2px gray;
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    bottom: 5px;
    border: 1px solid rgb(0 0 0/0.3);
    box-shadow: 0 0 10px rgb(0 0 0/0.2);
    opacity: 0.9;
}

.hero p {
    padding: 1px;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid rgb(0 0 0/0.3);
    margin: 5px;
}

.title {
    text-align: center;
}

.title h1 {
    margin: 0px 5px 10px 5px;
}

.title p {
    padding: 1px;
    font-weight: 700;
    margin: 5px;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.figures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.history img {
    width: 200px;
    border: 5px solid var(--accent1-color);
}

.figures figure img {
    width: 125px;
    border: 2px solid var(--accent1-color);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
}

.employees {
    display: block;
    background-color: var(--accent1-color);
    border: 1rem solid var(--primary-color);
    box-shadow: 0 0 3px black;
}

.employees h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.employees div {
    display: flex;
    justify-content: space-evenly;
}

.employees img {
    border: 1px solid var(--secondary-color);
    width: 120px;
    box-shadow: 0 0 5px black;
}

.names {
    font-weight: 700;
}

.radio-group {
    border: none;
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.radio-group p {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.radio-option {
    grid-column: 2 / 3;
}

.message {
    display: grid;
}

.offerings {
    display: flex;
    justify-content: space-evenly;
}

.offerings figure img {
    width: 200px;
    border: 5px solid var(--accent1-color);
}

.highlight {
    font-weight: 700;
}

#end-section {
    margin-top: 0px;
    margin-bottom: 0px;
}

#map {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

#call-to-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#call-to-action div {
    margin: 2px 15px 2px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 300px;
}

#call-to-action form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: 700;
    background-color: var(--accent1-color);
    margin: 20px 20px 5px 5px;
    border-radius: .5rem;
    height: 260px;
}

#call-to-action a {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: .5rem;
    text-decoration: none;
}

#contact-us {
    position: relative;
}

#contact-us article {
    position: absolute;
    top: 100px;
    right: 20px;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    border: 1px solid black;
    opacity: 0.9;
    border-radius: .5rem;
}

#contact-us a {
    list-style: none;
    color: var(--secondary-color);
    font-weight: 700;
}