* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: rgb(0 0 50 / 0.9);
    color: #fff;
}

h1 {
    margin: .5rem;
    text-align: center;
    font-size: x-large;
}

form {
    background-color: rgb(0 0 50 / 0.3);
}

input, textarea, select, button {
    padding: .75rem;
    width: 330px;
}

button {
    margin: 0 auto;
    display: block;
    background-color: rgb(0 0 50 / 0.3);
    color: #fff;
    border-radius: .5rem;
}

code {
    display: block;
    background-color: rgb(0 0 0 / 0.6);
}

.box {
    margin: 1rem;
    border: 1px solid rgb(99 99 99 / 0.9);
    padding: 1rem;
}

.quiz-item {
    border: none;
}