:root {
    --primary-color: rgb(34, 34, 97);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    margin: 0 1rem 0.5rem 1rem;
    box-shadow: 0 0 30px gray;
    float: right;
}

h1 {
    color: var(--primary-color);
    margin: 1rem;
    border-bottom: 1px solid black;
}

h2 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1px;
    margin: 1rem;
}

ul {
    clear: both;
}

ul li {
    margin-left: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 110px;
}

aside p {
    margin: 5px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 2px solid rgb(0 0 70 /0.5);
    padding: 1rem;
    background-color: #ddd;
    color: rgb(0 0 70/0.7);
}